.Person {
    margin-top: 35px;
    width: 85%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.Title{
    background-color: #363636;
    color: white;
    padding: 20px 40px 20px 40px;
    border-radius: 5px 5px 0 0;
}

.Title h3 {
    font-size: 25px;
}

.Body{
    padding: 5px 25px 5px 25px;
}

.Footer{
    background-color: #363636;
    color: white;
    padding: 5px 15px 5px 15px;
    border-radius:0 0 5px 5px; 
}

.Address{
    border: 1px solid #ccc;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
}

