.Row:after {
    content: "";
    display: table;
    clear: both;
}

.Col_1 {
    width: 8.33%;
    float: left;
    padding: 15px;
}

.Col_2 {
    width: 16.66%;
    float: left;
    padding: 15px;
}

.Col_3 {
    width: 20%;
    float: left;
    padding: 15px;
}

.Col_4 {
    width: 33.33%;
    float: left;
    padding: 15px;
}

.Col_5 {
    width: 41.66%;
    float: left;
    padding: 15px;
}

.Col_6 {
    width: 50%;
    float: left;
    padding: 15px;
}

.Col_7 {
    width: 58.33%;
    float: left;
    padding: 15px;
}

.Col_8 {
    width: 66.66%;
    float: left;
    padding: 15px;
}

.Col_9 {
    width: 75%;
    float: left;
    padding: 15px;
}

.Col_10 {
    width: 83.33%;
    float: left;
    padding: 15px;
}

.Col_11 {
    width: 91.66%;
    float: left;
    padding: 15px;
}

.Col_12 {
    width: 100%;
    float: left;
    padding: 15px;
}

.Col_13 {
    width: 25%;
    float: left;
    padding: 15px;
}

@media screen and (max-width: 600px) {
    .Col_1,
    .Col_2,
    .Col_3,
    .Col_4,
    .Col_5,
    .Col_6,
    .Col_7
    .Col_8,
    .Col_9,
    .Col_10,
    .Col_11,
    .Col_12 {
        width: 100%;
        margin-top: 0;
    }
}