
.Toolbar {
    height: 55px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #363636;
    display: flex;
    z-index: 90;
    box-sizing: border-box;
}

.Toolbar nav {
    height: 100%;
}

.Title {
    padding: 15px 0 0 10px;
}

.Title a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bolder;
}