.Pagination{
    display: inline-flex;
}
.Pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    color: white;
}

.Pagination a.active {
    background-color: #2196F3;
    color: white;
}

.Pagination a:hover:not(.active) {
    background-color: #ddd;
    color: black;
}