.Button {
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    min-width: 100px;
    border-radius: 5px;
}

.right{
    float: right;
}

.primary {
    background-color: #2196F3;
}

.primary:hover {
    background-color: #0b7dda;
}

.success {
    background-color: #008B00;

}

.success:hover {
    background-color: #008B00;
}

.danger {
    background-color: #FF0000;
}

.danger:hover {
    background-color: #da190b;
}