.Calendar{

}

.Month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

/* Month list */
.Month ul {
    margin: 0;
    padding: 0;
}

.Month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.Prev {
    float: left;
    padding-top: 10px;
}

.Next {
    float: right;
    padding-top: 10px;
}


.Year{
    font-size:18px;
}