.Persons{
    width: 100%;
    padding: 25px;
}
.Header{
    background-color: #363636;
    color: white;
    padding: 20px 40px 20px 40px;
    margin: 10px 0 10px 0;
    border-radius: 5px;
}

.Header h3 {
    font-size: 25px;
}

.Center {
    text-align: center;
}

.SearchBox{
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ButtonSearch {
    width: 100%;
    border: none;
    background-color: #2196F3;
    color: #fff;
    min-width: 100px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.TableBox{
    margin-top: 10px;
    overflow-x:auto;
}

.Table {
    border-spacing: 5px;
    width: 100%;
    border-radius: 5px;
}

.Table th {
    color: white;
    background-color: #363636;
    height: 50px;
    text-align: center;
    white-space: nowrap;
}

.Table, th, td {
    border: 1px solid #363636;
    border-collapse: collapse;
    padding: 5px;
    white-space: nowrap;
}

.Table tr:nth-child(even) {
    background-color: #eee;
}

.Table tr:nth-child(odd) {
    background-color: #fff;
}

.Table tr:hover {
    background-color: #ADD8E6;
    cursor: pointer;
}

.Table tfoot tr td {
    background-color:  #363636;
}

.PerPages {
    min-width: 5%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline;
}

.MinSize_85{
    min-width: 85px;
}

.MinSize_200{
    min-width: 200px;
}